@page
@model SupermarketWeb.Pages.Producto.DeleteModel
@{
    ViewData["Title"] = "Delete Productos";
}

<h1>Delete</h1>

<h3>Are you sure you want to delte this?</h3>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Name)
        </dt>
        <dd class="col-ms-10">
            @Html.DisplayFor(model => model.Producto.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Price)
        </dt>
        <dd class="col-ms-10">
            @Html.DisplayFor(model => model.Producto.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Stock)
        </dt>
        <dd class="col-ms-10">
            @Html.DisplayFor(model => model.Producto.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.CategoryId)
        </dt>
        <dd class="col-ms-10">
            @Html.DisplayFor(model => model.Producto.CategoryId)
        </dd>

    </dl>
    <form method="post">
        <input type="hidden" asp-for="Producto.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-asp-page="./Index" class="btn btn-primary">Back to list</a>
    </form>
</div>